svg path[id]:hover {
  fill: #ff000062;
}
.zoomed svg path[id]:hover {
  fill: inherit;
}
svg path[id][data-active="true"] {
  fill: #ff0000a2;
}
svg path[id][data-active="true"]:hover {
  fill: #ff0000a4;
}
