svg path[id]:hover {
  fill: #ff000062;
}
.zoomed svg path[id]:hover {
  fill: inherit;
}
svg path[id][data-active="true"] {
  fill: red;
}
svg path[id][data-active="true"]:hover {
  fill: #ff0000a4;
}
.zoomed path:not([data-active="true"]) {
  opacity: 0.15;
}
.map-wrapper {
  position: relative;
}
